{% extends "base.html" %}

{% block content %}
  <div class="page-header page-header-light">
  		<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
  			<div class="breadcrumb">
  				<a href="/mngr/main/main.do" class="breadcrumb-item"><i class="fas fa-home"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Home</font></font></a>
  				<span class="breadcrumb-item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">program</font></font></span>
  				<span class="breadcrumb-item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">common management</font></font></span>
  				<span class="breadcrumb-item active"><span class="font-weight-bold text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">code management</font></font></span></span>
  			</div>
  		</div>
    </div>
<div class="content px-2 py-2 bg-white">
  <div class="card border-grey-300 my-0 mb-1">
  	<form id="formSearch" name="formSearch">
  		<input type="hidden" name="mnId" value="7a3c93ab-77a8-452e-b170-8165d38465b6">
  		<div class="card-body px-2 pt-2 pb-0">
  			<div class="form-row">
  				<div class="col-md mb-2">
  					<label class="form-label mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">group</font></font></label>
  					<input type="text" name="grpCd" value="" class="form-control form-control-sm" autocomplete="off">
  				</div>
  				<div class="col-md mb-2">
  					<label class="form-label mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">group name</font></font></label>
  					<input type="text" name="grpNm" value="" class="form-control form-control-sm" autocomplete="off">
  				</div>

  				<div class="col-md col-xl-2 mb-2">
  					<label class="form-label d-none d-md-block mb-0">&nbsp;</label>
  					<button type="submit" class="btn btn-sm btn-slate bg-slate-600 border-slate-600 text-white btn-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">search</font></font></button>
  				</div>
  			</div>
  		</div>
  	</form>
  </div>

  <div class="card border-grey-300 my-0 mb-1">
  	<div class="card-header bg-light header-elements-inline pl-2 py-2">
  		<h6 class="card-title font-weight-bold font-size-sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">group list</font></font></h6>
  	</div>
  	<div class="card-body px-2 py-2">

  		<div class="table-responsive">
  			<table class="table table-bordered table-hover table-xs">
  				<colgroup>
  					<col width="5%">
  					<col width="*">
  					<col width="50%">
  					<col width="10%">
  				</colgroup>
  				<thead class="thead-light text-center">
  					<tr>
  						<th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">turn</font></font></th>
  						<th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">group</font></font></th>
  						<th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">group name</font></font></th>
  						<th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">number of codes</font></font></th>
  					</tr>
  				</thead>
  				<tbody>



  							<tr>
  								<td class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">8</font></font></td>
  								<td><a href="/mngr/cmmn/code/group/sel.do?grpCd=CRUD&amp;mnId=7a3c93ab-77a8-452e-b170-8165d38465b6" class="text-slate-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CRUD</font></font></a></td>
  								<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">data processing</font></font></td>
  								<td class="text-right"><strong class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> pieces</font></font></td>
  							</tr>

  							<tr>
  								<td class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">7</font></font></td>
  								<td><a href="/mngr/cmmn/code/group/sel.do?grpCd=DATA_USES_PURPOSE&amp;mnId=7a3c93ab-77a8-452e-b170-8165d38465b6" class="text-slate-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">DATA_USES_PURPOSE</font></font></a></td>
  								<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Purpose of data use</font></font></td>
  								<td class="text-right"><strong class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> pieces</font></font></td>
  							</tr>

  							<tr>
  								<td class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6</font></font></td>
  								<td><a href="/mngr/cmmn/code/group/sel.do?grpCd=APPL_AFFILIATION_TYPE&amp;mnId=7a3c93ab-77a8-452e-b170-8165d38465b6" class="text-slate-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">APPL_AFFILIATION_TYPE</font></font></a></td>
  								<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Application Affiliation Type</font></font></td>
  								<td class="text-right"><strong class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> pieces</font></font></td>
  							</tr>

  							<tr>
  								<td class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font></font></td>
  								<td><a href="/mngr/cmmn/code/group/sel.do?grpCd=APPL_STATE&amp;mnId=7a3c93ab-77a8-452e-b170-8165d38465b6" class="text-slate-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">APPL_STATE</font></font></a></td>
  								<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">application status</font></font><span class="badge badge-flat border-pink text-pink-600 ml-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">memo</font></font></span></td>
  								<td class="text-right"><strong class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">7</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> pieces</font></font></td>
  							</tr>

  							<tr>
  								<td class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4</font></font></td>
  								<td><a href="/mngr/cmmn/code/group/sel.do?grpCd=USER_STATE&amp;mnId=7a3c93ab-77a8-452e-b170-8165d38465b6" class="text-slate-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">USER_STATE</font></font></a></td>
  								<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">subscription status</font></font></td>
  								<td class="text-right"><strong class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> pieces</font></font></td>
  							</tr>

  							<tr>
  								<td class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></td>
  								<td><a href="/mngr/cmmn/code/group/sel.do?grpCd=JOIN_TYPE&amp;mnId=7a3c93ab-77a8-452e-b170-8165d38465b6" class="text-slate-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">JOIN_TYPE</font></font></a></td>
  								<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Subscription type</font></font></td>
  								<td class="text-right"><strong class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> pieces</font></font></td>
  							</tr>

  							<tr>
  								<td class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></td>
  								<td><a href="/mngr/cmmn/code/group/sel.do?grpCd=USE_YN&amp;mnId=7a3c93ab-77a8-452e-b170-8165d38465b6" class="text-slate-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">USE_YN</font></font></a></td>
  								<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">use or not</font></font></td>
  								<td class="text-right"><strong class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> pieces</font></font></td>
  							</tr>

  							<tr>
  								<td class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">One</font></font></td>
  								<td><a href="/mngr/cmmn/code/group/sel.do?grpCd=SEX&amp;mnId=7a3c93ab-77a8-452e-b170-8165d38465b6" class="text-slate-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">SEX</font></font></a></td>
  								<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">gender</font></font></td>
  								<td class="text-right"><strong class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> pieces</font></font></td>
  							</tr>





  				</tbody>
  			</table>
  		</div>

  	</div>
  </div>

  <div class="row">
  	<div class="col-12 col-md-8">
  		<ul class="pagination align-self-center"><li class="page-item disabled">	<a href="#" class="page-link white-space-nowrap"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Previous</font></font></a></li><li class="page-item active">	<a href="#" class="page-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">One	</font></font></a></li><li class="page-item disabled">	<a href="#" class="page-link white-space-nowrap"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">next</font></font></a></li>	</ul>
  	</div>
  	<div class="col-12 col-md-4 mt-md-0 mt-1 text-right">
  		<button type="button" name="reg" class="btn btn-outline bg-dark border-grey-800 text-dark"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enrollment</font></font></button>
  	</div>
  </div>

  <div id="modal-group" class="modal fade" tabindex="-1">
  	<div class="modal-dialog">
  		<div class="modal-content">
  			<div class="modal-header bg-light d-flex justify-content-between align-items-center px-2 py-2">
  				<h6 class="modal-title font-weight-bold font-size-sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">code group</font></font></h6>
  				<button type="button" class="close" data-dismiss="modal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">×</font></font></button>
  			</div>
  			<form id="frm" name="frm">
  				<div class="modal-body px-2 py-2">
  					<div class="form-row">
  						<div class="form-group col-6 col-md-6 mb-2">
  							<label class="form-label-sm mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">group code</font></font></label><strong class="text-danger pl-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></strong>
  							<input type="text" name="grpCd" maxlength="30" class="form-control form-control-sm maxlength-badge-position" autocomplete="off" placeholder="group code">
  						</div>

  						<div class="form-group col-6 col-md-6 mb-2">
  							<label class="form-label-sm mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">group name</font></font></label><strong class="text-danger pl-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></strong>
  							<input type="text" name="grpNm" maxlength="25" class="form-control form-control-sm maxlength-badge-position" autocomplete="off" placeholder="group name">
  						</div>
  					</div>

  					<div class="form-group mb-0">
  						<label class="form-label-sm mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">memo</font></font></label>
  						<textarea name="memo" maxlength="100" class="form-control form-control-sm maxlength-badge-position" autocomplete="off" placeholder="memo"></textarea>
  					</div>
  				</div>

  				<div class="modal-footer bg-white d-flex justify-content-between align-items-center px-2 py-2">
  					<button type="button" name="close" class="btn btn-sm btn-outline bg-danger border-grey-800"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">cancel</font></font></button>
  					<button type="button" name="ins" class="btn btn-sm btn-dark border-grey-800"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Save</font></font></button>
  				</div>
  			</form>
  		</div>
  	</div>
  </div>

</div>

{% endblock content %}
