{% extends 'base.html' %}
{% block title %}User Management : Change Password{% endblock %}
{% block content %}
  <div class="content px-2 py-2 bg-white">
    <div class="card border-grey-300 my-0 mb-1">
      <div class="card-header bg-light header-elements-inline pl-2 py-2">
        <h6 class="card-title font-weight-bold font-size-sm">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Change Password</font>
          </font>
        </h6>
      </div>
      {% if message %}
        <div class="alert alert-info">{{ message }}</div>
      {% endif %}

      <div class="card-body px-2 pt-2 pb-0">
        <div id="frm1" name="frm1" class="">
          <!-- <input type="hidden" name="userKey" value="de5c2e71-e7dd-4c1c-a0f6-69a7e7f229d4"> -->
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-6 col-md-6 mb-2">
              <label class="form-label-sm mb-0">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">New Password</font>
                </font>
              </label><strong class="text-danger pl-1">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">*</font>
                </font>
              </strong>
              <input type="text" name="new_password" id="new_password" class="form-control form-control-sm border-slate-300 text-dark" />
            </div>
            <div class="form-group col-6 col-md-6 mb-2">
              <label class="form-label-sm mb-0">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Confirm Password</font>
                </font>
              </label><strong class="text-danger pl-1">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">*</font>
                </font>
              </strong>
              <input type="text" name="reconfirm_password" id="reconfirm_password" class="form-control form-control-sm maxlength-badge-position" autocomplete="off" />
            </div>
            <input type="hidden" name="user_id" id="user_id" value="{{ user_id }}" />
            <button class="btn" type="submit" onclick="change_password()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    let change_password = () => {
      let userId = ''
      let new_password = ''
      let reconfirm_password = ''

      if (document.getElementById('user_id')) {
        Id = document.getElementById('user_id').value
      }
      if (document.getElementById('new_password')) {
        new_password = document.getElementById('new_password').value
      }
      if (document.getElementById('reconfirm_password')) {
        reconfirm_password = document.getElementById('reconfirm_password').value
      }

      let formData = new FormData()
      let csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value
      formData.append('csrfmiddlewaretoken', csrf)
      formData.append('userid', Id)
      formData.append('new_password', new_password)
      formData.append('reconfirm_password', reconfirm_password)

      let xhr = new XMLHttpRequest()
      if (new_password != '' && reconfirm_password != '' && new_password === reconfirm_password) {
        xhr.open('POST', "{% url 'change_password' %}" + Id + "/")
        xhr.send(formData)
      } else if (new_password !== reconfirm_password) {
        alert('Both Passwords must Match')
      } else if (new_password === '' || reconfirm_password === '') {
        alert('Password value cant be empty')
      }

      xhr.onload = () => {
        let res = JSON.parse(xhr.response)
        if (res['status']) {
          alert('Password Changed successfully')
          window.location.href = '{%url "user_management_register"%}'
        } else {
          window.location.href = '{%url "user_management_register"%}'
        }
      }
    }
  </script>
{% endblock %}
