{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <link href="{%static 'admin_dashboard/css/basic_new.css' %}" rel="stylesheet" type="text/css">
        <title>NICE평가정보 - CheckPlus 안심본인인증 테스트</title>
    </head>
    <body>
        
        {% if success %}
        <div class="login txt_center" style="background-color:#0c2f4d;padding:30px">
            <p><img src="{% static 'admin_dashboard/images/www/admin_logo.png'%}" /></p>
            <p style="margin-top:40px">
                <svg width="36" height="36" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#70bf2b" d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/>
                </svg>
            </p>
            <h2 style="color:#fff;margin-top:30px;font-size: 24px;">Mobile Verified Successfully</h2>
        </div>
        {% else %}
            {{msg}}
        {% endif %}
    </body>
    <script>
        $(document).ready(function(){
            console.log('---')
            if(localStorage.getItem('ncc_register_mobile')){
                var items = JSON.parse(localStorage.getItem('ncc_register_mobile'))
                console.log(items)
                items.doi = '{% if success %}{{ dupinfo }}{% endif %}'
                items.verified = '{{success}}'
                items.status = 'completed'
                localStorage.setItem("ncc_register_mobile",JSON.stringify(items))
            }
        });
    </script>
</html>
