<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>

<body>
    <div style=" height: 80vh;">
        <div style="  width: 60%; margin: auto;">
            <div style="  border-bottom: 2px solid black; display: flex; align-items: center; background-color: #ccc;">
                <!-- <div style=" width: 260px; height: 108px; overflow: hidden; ">
                    <img src="{{frontend_url}}NCClogoone.png"
                        style="width: 380px; height: 200px; margin: -23px 0 0 -70px;"></img>
                </div>
                <div style=" width: 500px; height: 108px; overflow: hidden;">
                    <img src="{{frontend_url}}NCClogotwo.jpg"
                        style="width: 300px; height: 70px; margin: 44px 0 0 -4px"></img>
                </div> -->

            </div>
            <div style=" background: #F5F9FF; margin-top: 5px; padding: 20px;">
                <div>
                    <div style="width: 60%;">
                        <h1 style="  padding: 4px 0;
                        margin-left: 20px;
                        font-size: 20px;
                        line-height: 1;
                        font-weight: 100;">안녕하세요.
                        </h1>
                        <h1 style="  padding: 4px 0;
                        margin-left: 20px;
                        font-size: 20px;
                        line-height: 1;
                        font-weight: 100;"> 국립암센터(국가암데이터센터) K-CORE 회원가입을 위한 인증번호 안내드립니다.
                            아래 인증번호를 입력하시면 본인 인증 절차가 완료됩니다.</h1>
                    </div>
                </div>
                <div style="  font-family: 'Mukta Malar', Arial;
                display: flex;
                flex-direction: column;
                justify-content: center;                
                align-items: center;
                flex-direction: column;">

                    <h1 style=" font-weight: 300;">회원가입 인증번호 안내</h1>

                    <div style="  display: flex; border:black 1px solid; height: 50px;">
                        <div for="OTP" class="OTP_Label" style="  background-color: rgba(38, 48, 138, 0.877);
                        text-align: center;
                        color: white;
                        width: 120px;
                        align-items: center;
                        padding-top: 8px;">번호</div>
                        <p type="text" name="OTP" style="width: 340px; height:100%; margin-left: 10px;">
                            {{resetpassword}}</p>
                    </div>

                </div>
            </div>
        </div>

    </div>

</body>

</html>