{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>

<body>
    <div style=" height: 80vh;">
        <div style="  width: 60%; margin: auto;">
            <div style=" border-bottom: 2px solid black; display: flex; align-items: center; background-color: #ccc;">
                <!-- <div style=" width: 50%;">
                    <img src="{{frontend_url}}NCClogoone.png"
                        style="width: 380px; height: 206px; margin: -23px 0 0 -70px; float: right;"></img>
                </div>
                <div style=" width: 50%;">
                    <img src="{{frontend_url}}NCClogotwo.jpg"
                        style="width: 300px; height: 191px; margin: 44px 0 0 -4px "></img>
                </div> -->

            </div>
            <div style=" background: #F5F9FF; margin-top: 5px; padding: 20px;">
                <div>
                    <div style="width: 100%;">
                        <h1 style="
                        font-size: 14px;
                        line-height: 1;
                        font-weight: 100;
                        font-family: sans-serif;
                        color: black;">안녕하세요,
                        </h1>
                        <h1 style="
                       
                        font-size: 14px;
                        line-height: 1;
                        font-weight: 100;
                        font-family: sans-serif;
                        color: black;"> 국립암센터 (국가암데이터센터) K-CORE 회원가입을 위한 인증번호 안내드립니다.</h1>
                        <h1 style="
                      
                        font-size: 14px;
                        line-height: 1;
                        font-weight: 100;
                        font-family: sans-serif;
                        color: black;"> 이것은 사용자 ID의 새 비밀번호입니다 {{userName}}</h1>
                    </div>
                </div>
                <div style=" padding-top: 10px; color: black;">
                    <div>
                        <h1 style="  font-size: 14px;
                        line-height: 1;
                        font-weight: 100;">회원가입 인증번호 안내</h1>
                    </div>
                </div>

                <div style="  display: flex; border:black 1px solid; height: 50px; width: 50%; ">
                    <div for="OTP" class="OTP_Label" style="  background-color: black;
                        text-align: center;
                        color: white;
                        width: 120px;
                        align-items: center;
                        padding-top: 12px;
                        font-size:  14px;
                        ">비밀번호</div>
                    <p type="text" name="OTP" style="width: 340px; height:100%; margin-left: 10px;">{{password}}</p>
                </div>


            </div>
        </div>

    </div>

</body>

</html>