{% extends 'base.html' %}
{% block title %}FAQ: Details{% endblock %}
{% block content %}
  {% load i18n %}
  {% load custom_tags %}
  <div class="page-header page-header-light">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumb-item">
          <i class="icon-home2 mr-2"></i><font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              {% translate 'Home' %}
            </font>
          </font>
        </a>
        <span class="breadcrumb-item">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              {% translate 'Program' %}
            </font>
          </font>
        </span>
        <span class="breadcrumb-item">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              {% translate 'Community Management' %}
            </font>
          </font>
        </span>
        <span class="breadcrumb-item active">
          <span class="font-weight-bold text-danger">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
                {% translate 'FAQ' %}
              </font>
            </font>
          </span>
        </span>
      </div>
    </div>
  </div>

  <div class="content px-2 py-2 bg-white">
    <div class="card border-grey-300 my-0 mb-1">
      <div class="card-header bg-light header-elements-inline pl-2 py-2">
        <h6 class="card-title font-weight-bold font-size-sm">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              {% translate 'Write a post' %}
            </font>
          </font>
        </h6>
      </div>
      <div class="card-body px-2 py-0">
        <form id="frm1" name="frm1" action="{% url 'faq_form' %}" method="post" class="notice_form1">
          <input type="hidden" name="tbl" value="f8927e86-6d5b-4fa5-ab7f-e97ae16ebc97" />
          {% csrf_token %}
          <div class="form-group my-2">
            <label class="form-label-sm mb-0">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  {% translate 'title' %}
                </font>
              </font>
            </label><strong class="text-danger pl-1">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">*</font>
              </font>
            </strong>
            <input type="text" name="title" id="title" maxlength="120" class="form-control form-control-sm maxlength-badge-position" autocomplete="off" />
          </div>

          <div class="form-row">
            <div class="form-group col-12 col-md mb-2">
              <label class="form-label-sm mb-0">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">
                    {% translate 'writer' %}
                  </font>
                </font>
              </label><strong class="text-danger pl-1">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">*</font>
                </font>
              </strong>
              <input type="text" name="usernm" id="usernm" maxlength="25" class="form-control form-control-sm maxlength-badge-position" autocomplete="off" />
            </div>
          </div>

          <div class="form-group mb-0">
            <label class="form-label-sm mb-0">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  {% translate 'Contents' %}
                </font>
              </font>
            </label><strong class="text-danger pl-1">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">*</font>
              </font>
            </strong>
            <textarea id="ckeditor-init-script" name="detail"></textarea>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-between align-items-center">
        <a href="{% url 'faq' %}" class="btn btn-outline bg-danger border-grey-800 text-dark">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              {% translate 'Cancel' %}
            </font>
          </font>
        </a>
        <button type="button" name="ins" onclick="notice_form()" class="btn btn-dark border-grey-800">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              {% translate 'Save' %}
            </font>
          </font>
        </button>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    content = CKEDITOR.replace('detail', {
      extraPlugins: 'html5video',
      filebrowserBrowseUrl: '/k-corev/ckeditor/browse/all',
      filebrowserImageBrowseUrl: '/k-corev/ckeditor/browse/image',
      filebrowserVideoBrowseUrl: '/k-corev/ckeditor/browse/video',
      filebrowserUploadUrl: '/k-corev/ckeditor/upload/'
    })
    function selectFile(fileUrl) {
      window.opener.CKEDITOR.tools.callFunction(1, fileUrl)
    }
  </script>
{% endblock %}
