
{% extends "base.html" %}

{% block content %}
      <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
          <div class="breadcrumb">
            <a href="/mngr/main/main.do" class="breadcrumb-item"><i class="icon-home2 mr-2"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Home</font></font></a>
              <span class="breadcrumb-item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">program</font></font></span>
              <span class="breadcrumb-item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">service management</font></font></span>
              <span class="breadcrumb-item active"><span class="font-weight-bold text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OpenAPI</font></font></span></span>
          </div>
        </div>
      </div>



      <div class="content px-2 py-2 bg-white">
          <div class="card border-grey-300 my-0 mb-1">
          	<div class="card-header bg-light header-elements-inline pl-2 py-2">
          		<h6 class="card-title font-weight-bold font-size-sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OPEN API application list</font></font></h6>
          	</div>
          	<div class="card-body px-2 py-2">


          	</div>
          </div>

          <div class="row">
          	<div class="col-12 col-md-8">
          		<ul class="pagination align-self-center"><li class="page-item disabled">	<a href="#" class="page-link white-space-nowrap"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Previous</font></font></a></li><li class="page-item disabled">	<a href="#" class="page-link white-space-nowrap"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">next</font></font></a></li>	</ul>
          	</div>
          	<div class="col-12 col-md-4 mt-md-0 mt-1 text-right">
          		<button type="button" name="reg" class="btn btn-outline bg-dark border-grey-800 text-dark"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OpenAPI application</font></font></button>
          	</div>
          </div>
			</div>

{% endblock content %}
